<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Blog - whatobathinks</title>
      <link
         rel="shortcut icon"
         href="images/whatobathinks-favicon.png"
         type="image/x-icon"
      />
      <script
         src="https://kit.fontawesome.com/f596fb3afb.js"
         crossorigin="anonymous"
      ></script>
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
         href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Inter:wght@400;500;700&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="../build/css/main.css" />
   </head>

   <body>
      <!-- Header -->
      <div class="mobile-menu" id="mobile-menu">
         <div class="button--close" id="button-close">
            <i class="fas fa-times"></i>
         </div>
         <div class="mobile-menu__links">
            <a href="/" class="mobile-menu__link"><span>//</span>Home</a>
            <a href="https://blog.whatobathinks.com" class="mobile-menu__link"
               ><span>//</span>Blog</a
            >
            <a href="#" class="mobile-menu__link"><span>//</span>Portfolio</a>
            <a href="#" class="mobile-menu__link"><span>//</span>Contact</a>
            <a href="#" class="btn subscribe-btn">Subscribe</a>
         </div>
      </div>
      <header class="navbar">
         <div class="ham-icon" id="ham-icon">
            <span></span>
            <span></span>
            <span></span>
         </div>
         <div class="logo">
            <img src="../images/whatobathinks-logo.png" alt="logo" />
         </div>
         <nav class="navbar__links">
            <a href="/" class="navbar__link">Home</a>
            <a href="/views/blog-archive.html" class="navbar__link">Blog</a>
            <a href="#" class="navbar__link">Portfolio</a>
            <a href="#" class="navbar__link">Contact</a>
         </nav>
         <div class="social-icons">
            <a href="#" class="social-link"
               ><i class="fab fa-linkedin fa-lg"></i
            ></a>
            <a href="#" class="social-link"
               ><i class="fab fa-instagram fa-lg"></i
            ></a>
            <a href="#" class="social-link"
               ><i class="fab fa-github fa-lg"></i
            ></a>
         </div>
      </header>

      <main>
         <header>
            <h1>Blog</h1>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Doloremque, cum.
            </p>
         </header>

         <!-- Blog Posts -->
         <section class="blog">
            <div class="post">
               <div class="post__image"><img src="" alt="Post Image" /></div>
               <div class="post__content">
                  <span><i class="fa fa-tag"></i> PRY CATEGORY</span>
                  <span><i class="fa fa-hashtag"></i> tag1, tag2</span>
                  <h2>3 Reasons you need a brand (#3 is important.)</h2>
                  <span>JUNE 1, 2020</span> <span>5 mins read</span>
               </div>
            </div>
         </section>
      </main>

      <script src="build/js/index.js"></script>
   </body>
</html>
