/* Oba's Reset/Base */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 1800px;
  margin: auto;
  position: relative;
}

img,
picture {
  max-width: 100%;
}

button,
input {
  font-family: inherit;
  appearance: none;
}

[hidden] {
  display: none !important;
}
